.product-area-full {
  text-align: center;
}

.product-area {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.product-single {
  box-shadow: 2px 6px 14px 0px #80808042;
  padding: 10px;
  margin-top: 20px;
  flex-grow: 1;
  width: 30%;
  margin-right: 10px;
}

.product-button {
  color: #fff;
  background: #000;
  text-decoration: none;
  padding: 5px 20px;
}
